#yes{
    margin-left: 50px;
}
#no{
    position: fixed;
    top:377px;
    left: 620px;
}

body{
    background-image: url('backgroud.jpg');
    background-size: cover;
   
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
   
}